<f:layout name="Default" />

<f:section name="main">
	<h3 class="title"><f:translate key="recenttweets" /></h3>
	<div class="error">
		<f:flashMessages />
	</div>
	<f:if condition="{tweets}">
		<f:then>
			<div class="stream-container">
				<div class="stream">
					<ol class="stream-items js-navigable-stream" id="stream-items-id">
						<f:for each="{tweets}" as="tweet" iteration="i">
							<li class="stream-item">
								<div class="tweet">
									<div class="content">
										<div class="stream-item-header">
											<f:link.external uri="https://x.com/{userData.username}" target="_blank" class="account-group">
												<img src="{userData.profile_image_url}" class="avatar" />
												<strong class="fullname">{userData.name}</strong>
												<span class="username" data-aria-label-part=""><s> @</s><b>{userData.username}</b></span>
											</f:link.external>
										</div>
										<div class="js-tweet-text-container">
											<f:format.html>{tweet.text}</f:format.html>
										</div>
										<small class="time">
											<a href="https://x.com/{userData.username}/status/{tweet.id}" target="_blank">
											<f:if condition="{settings.dateFormat}=='ago'">
												<f:then>
													{tweet.created_at}
												</f:then>
												<f:else>
													<f:format.date format="j">{tweet.created_at}</f:format.date> <f:translate key="<f:format.date format='%m'>{tweet.created_at}</f:format.date>" /> <f:format.date format="Y">{tweet.created_at}</f:format.date>
												</f:else>
											</f:if>
											</a>
										</small>
		
										<div class="stream-item-footer">
											<ul class="tweetactions">
												<f:if condition="{settings.reply}">
													<li class="tweet-action">
														<a class="tweetaction tweetaction-reply" href="https://x.com/intent/tweet?in_reply_to={tweet.id}" target="_blank">
															<div class="icon icon-reply"><i class="fa fa-reply" aria-hidden="true"></i></div>
															<span class="tweetaction-stat"><f:translate key='tweets.reply' /></span>
														</a>
													</li>
												</f:if>
												<f:if condition="{settings.retweet}">
													<li class="tweetaction">
														<a class="tweetaction tweetaction-retweet" href="https://x.com/intent/retweet?tweet_id={tweet.id}" target="_blank">
															<div class="icon icon-retweet"><i class="fa fa-retweet" aria-hidden="true"></i></div>
															<span class="tweetaction-stat"><f:translate key='tweets.retweet' /><f:if condition="{tweet.retweet_count} > 0"> ({tweet.retweet_count})</f:if></span>
														</a>
													</li>
												</f:if>
												<f:if condition="{settings.like}">
													<li class="tweetaction">
														<a class="tweetaction tweetaction-like" href="https://x.com/intent/like?tweet_id={tweet.id}" target="_blank">
															<div class="icon icon-like"><i class="fa fa-heart" aria-hidden="true"></i></div>
															<span class="tweetaction-stat"><f:translate key='tweets.like' /><f:if condition="{tweet.favorite_count} > 0"> ({tweet.favorite_count})</f:if></span>
														</a>
													</li>
												</f:if>
											</ul>
										</div>
									</div>
								</div>
							</li>
						</f:for>
					</ol>
				</div>
			</div>
		</f:then>
		<f:else>
			<f:if condition="{showNoTweet} == 1">
				<f:translate key='noTweets' />
			</f:if>
		</f:else>
	</f:if>
		
</f:section>
